<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28588991274-1efti7a1miupjqiup5j1o1o0m97tu6ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28588991274-1efti7a1miupjqiup5j1o1o0m97tu6ss</string>
	<key>API_KEY</key>
	<string>AIzaSyDDvJMg8NiQ9XvzkNw3Bhnbm86Q252FZuM</string>
	<key>GCM_SENDER_ID</key>
	<string>28588991274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exDay2</string>
	<key>PROJECT_ID</key>
	<string>day-07</string>
	<key>STORAGE_BUCKET</key>
	<string>day-07.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28588991274:ios:6bcda43633528d3c693453</string>
</dict>
</plist>